
body{background-image: url('../IMG/FONDO.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
        background-size: 100% ;
    }

form {
    max-width: 530px;
   margin:  auto;
    margin-top: 299px;
    text-align: center;
    border:2px solid #a39a97;
    border-radius: 19px;
    box-shadow:rgb(156, 153, 153) 2px 5px     ;
}

.boton {
    background-color: #ff2800;
    color: white;
    padding: 8px;
    font-size: 22px;
    border: none;
    border-radius:4px ;
    margin-top: 55px;
    margin-bottom: 55px;
    width: 180px;
    height: 40px;
    

}


h1{
    width: 530px;
    height:62px;
    background-color: #ff2800;
    color: white; 
margin-bottom: 40px;
margin-top: 0px;
border-radius: 8px;
border-bottom:1px ;}

input{border-color: #ff2800;
border-right: none;
border-left:none;
border-top: none;
width: 250px;

}

div{
margin-top: -20px

}










