/* estilos del menu con balonex */
.content1 button{
    display: flex;
    position: relative;
    justify-content: left;
    align-items: center;
    border:white ;
    border-radius: 4px;
    color: darkgray;
    width: 200px;
    height: 39px;
    left: 20px;
    font-size: 22px;
    
    }
    .content1{background-color: rgb(190, 183, 183);
    width:249px ;
    border-radius:13px;
    
    }


    
.boton {
    position:relative;
    background-color: #ff2800;
    color: white;
    padding: 8px;
    font-size: 22px;
    border: none;
    border-radius:4px ;
    width: 180px;
    height: 40px;
    margin-bottom: -200px;


}
/* ------------------------- */




    .content01{
width: 230px;
height: 270px;
text-align: center;
border:3px solid darkgray ;
border-radius: 9px;
    }

    .content2{
width: 230px;
height: 270px;
text-align: center;
border:3px solid darkgray ;
border-radius: 9px;


    }

    .content3{
width: 230px;
height: 270px;
text-align: center;
border:3px solid darkgray ;
border-radius: 9px;

    }

    .content4{
position: relative;
width: 230px;
height: 270px;
text-align: center;
border:3px solid darkgray ;
border-radius: 9px;
    }

    .content5{
position: relative;
width: 230px;
height: 270px;
text-align: center;
border:3px solid darkgray ;
border-radius: 9px;

    }
    .content6{
position: relative;
width: 230px;
height: 270px;
text-align: center;
border:3px solid darkgray ;
border-radius: 9px;
    }

   



 
   
   
    
    .unifi,
    .unifi2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-inline: 290px;
        margin-bottom: 80px;
    }


    

    .absolut{
        margin-top: -600px;
        margin-left: 80PX;
    }


    h1{
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid darkgray; 
        padding-bottom: 10px;
       
       
    }