<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>



    <link rel="stylesheet" href="../CSS/LOGIN.css">
</head>
<body>
    

<form action="">
 <h1>PUMAS DC</h1>
<br>
<input placeholder="Usuario" type="text">
<br><br><br>
<input placeholder="Contraseña" type="text">
<br>
<button class="boton">INGRESAR</button>



<div><a href="#">¿olvido su contraseña</a></div>
<br>
</form>



</body>
</html>