<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Pumas DC</title>

    <link rel="stylesheet" href="../CSS/MENU.css">
</head>
<body>
    <script src="https://kit.fontawesome.com/713139cfd2.js" crossorigin="anonymous"></script>


    <img src="../IMG/logousers.png" >




    <br><br><br><br>
    
    
    <!--menu general con los balones de futbol-->
    
    <div  class="content1">
        <br>
        <button  href="#" ><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Home</button>  
        <br>
        <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Presidencia</button>
        <br>
        <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Presidencia</button>
        <br>
        <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Vice-precidencia</button>
        <br>
        <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Secretaria</button>
        <br>
        <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Tesoreria</button>
        <br>
        <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Revisoria fiscal</button>
        <br>
        <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Lista afiliados</button>
        <br>
        <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i> Lista jugadores</button>
        <br>
        <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Lista coach’s</button>
        <br>
    </div>
    

<div class="absolut">

<div class="unifi">



    <!-- contenedor #1 -->
    <div  class="content01">
    <h1>Actas</h1>
    <img src="../IMG/1.PNG">

    <button  class="boton">Gestionar</button>

    </div>
    <!-- contenedor #2 -->
    <div  class="content2">
    <h1>Certificados</h1>
    <img src="../IMG/2.PNG">
    <button  class="boton">Gestionar</button>

    </div>
    <!-- contenedor #3 -->
    <div  class="content3">
     <h1>Reuniones</h1>
     <img src="../IMG/3.PNG">
     <button  class="boton">Gestionar</button>
    </div>


</div>

<div class="unifi2">

    <!-- contenedor #4 -->
    <div  class="content4">
    <h1>Asistencia</h1>
    <img src="../IMG/4.PNG">
    <button  class="boton">Gestionar</button>

    </div>
    <!-- contenedor #5 -->
    <div  class="content5">
    <h1>Comunicasion</h1>
    <img src="../IMG/5.PNG">

    <button  class="boton">Gestionar</button>

    </div>
    <!-- contenedor #6 -->
   <div  class="content6">
    <h1>Estado de cuenta</h1>
    <img src="../IMG/5.PNG">
    <button  class="boton">Gestionar</button>

   </div>

</div>

</div>
</body>
</html>


