<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pendientes</title>

  <link rel="stylesheet" href="../CSS/ACTAS.css">
</head>
<body>
  <script src="https://kit.fontawesome.com/713139cfd2.js" crossorigin="anonymous"></script>
  <img src="../IMG/logousers.png" >







<!--menu general con los balones de futbol-->

<div  class="content1">
  <br>
  <button  href="#" ><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Home</button>  
  <br>
  <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Presidencia</button>
  <br>
  <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Presidencia</button>
  <br>
  <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Vice-precidencia</button>
  <br>
  <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Secretaria</button>
  <br>
  <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Tesoreria</button>
  <br>
  <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Revisoria fiscal</button>
  <br>
  <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Lista afiliados</button>
  <br>
  <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i> Lista jugadores</button>
  <br>
  <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Lista coach’s</button>
  <br>
</div>





<!--PRINCIPAL-->

<div  class="principal">
  <a href="Solicitudes.html">
  <div  class="one">
      <h3>📃.Solicitudes </h3>
  </div>
  </a>
  <a href="Actas.html">
  <div class="two">
      <h3>📃.Actas</h3>
  </div>
  </a>
  <a href="Pendientes.html">
  <div  class="tree">
      <h3 href="#">🔔.Pendientes</h3>
  </div>
  </a>
  </div>



<!-- in     -->
<div  class="principio">
  <br>
<h1 class="solicitud">Pendientes</h1>
<br>

<br>


</div>

  


<div class="bord">
  <table>
    <tr>
      <th>N° pendiente </th>
      <th>Descripción</th>
      <th>Fecha</th>
      <th>Acciones</th>
    </tr>
    <tr>
      <td></td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
    </tr>
    <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
    </tr>
    <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
    </tr>
    <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
    </tr>
    <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
    </tr>
    <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
    </tr>
    <tr>
      <td>  </td>
      <td>  </td>
      <td>  </td>
      <td>  </td>
    </tr>
  </table>
</div>









</body>
</html>
