<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>💼Solicitudes </title>


    <link rel="stylesheet" href="../CSS/SOLICITUDES.css">


</head>
<body>
    <script src="https://kit.fontawesome.com/713139cfd2.js" crossorigin="anonymous"></script>

<img src="../IMG/logousers.png" >




<br><br><br><br>


<!--menu general con los balones de futbol-->

<div  class="content1">
    <br>
    <button  href="#" ><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Home</button>  
    <br>
    <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Presidencia</button>
    <br>
    <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Presidencia</button>
    <br>
    <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Vice-precidencia</button>
    <br>
    <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Secretaria</button>
    <br>
    <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Tesoreria</button>
    <br>
    <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Revisoria fiscal</button>
    <br>
    <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Lista afiliados</button>
    <br>
    <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i> Lista jugadores</button>
    <br>
    <button  href="#"><i class="fa-sharp fa-solid fa-football fa-rotate-270 fa-sm" style="color: #3f5a88;"></i>Lista coach’s</button>
    <br>
</div>

<!-- in     -->
<div  class="principio">
    <br>
<h1 class="solicitud">Solicitudes</h1>
<br>
<p>Por favor seleccione el tipo de solicitud</p>
<br>
<select id="miSelect"><option>........................</option></select>

</div>


<!--PRINCIPAL-->

<div  class="principal">
<a href="Solicitudes.html">
<div  class="one">
    <h3>📃.Solicitudes </h3>
</div>
</a>
<a href="Actas.html">
<div class="two">
    <h3>📃.Actas</h3>
</div>
</a>
<a href="Solicitudes.html">
<div  class="tree">
    <h3 href="#">🔔.Pendientes</h3>
</div>
</a>
</div>
<!-- inicio del formulario -->
<form action="">

<div class="impu">
<div class="block1">
<input  placeholder="Elemento a comprar" type="text">
<br>
<select id="miSelect"><option>Unidades a comprar</option></select>

</div>

<div class="blocked">
    <input  placeholder="Valor de la compra" type="text">
<br>
    <input  placeholder="Fecha de la compra" type="text">

</div>
<input class="descripcion" placeholder="Descripción" type="text">

<button  class="boton">Gestionar</button>



</div>


</form>
</body>
</html>